.aside {
    background-color: #e9a7966e;
    width: 85%;
    height: 130vh;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 11px rgb(218, 186, 238), 0 0 7px rgb(238, 230, 238), 0 0 16px rgb(222, 205, 231), 0 0 40px rgb(222, 245, 245), 0 0 17px rgb(228, 152, 152), 0 0 29px rgb(178, 147, 179), 0 0 70px rgb(239, 219, 243);
}

.sidenav, .button-nav{
    display: none;
}


@media only screen and (max-width: 720px) {
   .aside{
    display:none ;
   }

/* Sidenav menu */
.sidenav {
display: block;
  height: 98%;
  width: 82px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color:#ecbebea8; 
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 5px;
  text-decoration: none;
  font-size: 25px;
  color: #d4cbcbf0;
  display: block;
  transition: 0.3s;
}

.sidenav li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav a:hover {
  color: #111;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: red;
}

.burger-icon span {
  display: block;
  width: 100px;
  height: 50px;
  /* background-color: rgb(251, 177, 177); */
  margin: 6px 0;
}


.button-nav {
  display: block;
  margin: 2rem 1rem; 
}
.button-nav img {
  border-radius: 50%;
  border: .25rem solid rgb(251, 177, 177);
  width: 15rem;
}

}