.block-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.block-container main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header-title {
    flex: 1;
}

.photonavbar {
    width: 50%;
}


h1 {
    color: black;
    text-align: center;
}

header {
    background-image: url("../images/photonav.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


li {
    width: 5rem;
}

.logo-sylvie {
    width: 10rem;
    margin: 1rem;
    border-radius: 50%;
    align-self: flex-start;
}

.like-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.like-button:hover {
    background-color: #155db2;
}

img {
    max-width: 100%;
}

.slider-container {
    position: relative;
    margin: auto;
    height: 70vh;
    overflow: hidden;
}

.menu {
    position: absolute;
    right: 80px;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
    background: #1c87c9;
}

.slide-input {
    opacity: 0;
}

.slide-img {
    width: 20vw;
    height: 50vh;
    position: absolute;
    top: 15%;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    border: black solid 2px;

}

[id^="slide"]:checked+.slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.neon-border {
    border: 2px solid #E9A696;
    box-shadow: 0 0 10px rgb(218, 186, 238), 0 0 20px rgb(238, 230, 238), 0 0 30px rgb(222, 205, 231), 0 0 40px rgb(222, 245, 245), 0 0 50px rgb(228, 152, 152), 0 0 60px rgb(178, 147, 179), 0 0 70px rgb(239, 219, 243);
    border-radius: 10px;
    padding: 20px;
    background-color: #E9A696;
    color: white;
    text-align: center;
}

.messagedefilant {
    display: block;
    margin: 40px auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 65%;
    max-width: 640px;
    height: 65px;
}

.messagedefilant h1 {
    position: absolute;
    min-width: 100%;
    /* au minimum la largeur du conteneur */
}

.messagedefilant h1 span,
.messagedefilant h1:after {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    white-space: nowrap;
    top: 0;
}

.messagedefilant h1 span {
    animation: defilement 10s infinite linear;
}

.messagedefilant h1:after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    animation: defilement2 10s infinite linear;
    background: #edc;
}

@keyframes defilement {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes defilement2 {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

.pantalons {
    width: 15%;
}

.div-pantalons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .button-nav img {
        border-radius: 50%;
        border: .25rem solid rgb(251, 177, 177);
        width: 7rem;
    }

    [id^="slide"]:checked+.slide-img {
        left: -59px;
        z-index: 100;
        transition: left 0.65s ease-out;
    }

    .slide-img {
        width: 15rem;
        margin: 1rem 5rem 5rem 5rem;
        height: 19rem;

    }

    .titre-caroussel {
        text-align: center;
        margin-bottom: 0%;
    }

    .menu {
        right: 18px;
        bottom: 70px;
        ;
    }
    .boutton{
        max-width: 100%;
        height: 7rem;
        border-style: none; 
        border-radius:50rem ;
     
}

.grid {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
}